<p id="notice"><%= notice %></p>
<p>
  <b>Mdate:</b>
  <%= @message.mdate %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Speaker:</b>
  <%= @message.speaker %>
</p>
<% unless @message.verses.blank? %>
<p>
<b>Verses:</b>
  <% bible = ESV.new('IP') %>
  <% bible_ref(@message.verses).each do |v| %>
    <%= bible.doPassageQuery(v) %> 
  <% end %>
</p>
<% end %>

<p>
  <b>Summary:</b>
  <%= @message.summary %>
</p>

<p>
  <b>Application:</b>
  <%= @message.application %>
</p>

<p>
  <b>URL:</b>
  <%= @message.url %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
