<%= render 'contacts/directory_sidebar' %>
<h1>Family of <%= @family.name %></h1>
<p>
  <%= image_tag @family.image_url(:thumb) if @family.image? %>
</p>
<p>
  <strong>About: </strong><%= @family.description%>
</p>
<p>
  <strong>Family Members: </strong>
  <% @family.contacts.each do |c| %>
    <%= link_to c.first_name, c %>
  <% end %>
</p>

<p>
  <%= @dad.address %> <br />
  <%= number_to_phone(@dad.home_phone, :area_code => true) unless @dad.home_phone.blank? %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> 
