<%= render 'users/admin_sidebar' %>
<h1>Groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= link_to 'Show', group %> | 
    <%= link_to 'Edit', edit_group_path(group) %> | 
    <%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
