<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="ui-widget">
      <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
        <% for message in @user.errors.full_messages %>
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span><%= message %><br />
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login_name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :login_email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %><br />
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <% if can? :manage, User %>
  <div class="field">
    <%= f.check_box :admin %> <%= f.label :admin %>
  </div>
  <% end %>
  <p class="button"><%= f.submit %></p>
<% end %>

