<%= render 'admin_sidebar' %>

<h1>Active Users</h1>

Total <strong><%= @users.size %></strong> active users
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th># Contacts</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= "Admin" if user.admin %></td>
    <td><%= link_to user.contacts.size, assign_user_path(user) %></td>
    <td>
    <%= link_to 'Edit', edit_user_path(user) %> | 
    <%= link_to 'Disable', disable_user_path(user), :confirm => 'This user will not be able to login. Are you sure?', :method => :put %></td>
  </tr>
<% end %>
</table>
