<% content_for :sidebar do %>
<li id="search-2" class="widget-container widget_search">
<h3>Search contacts by name</h3>
<%= form_tag contacts_path, :method => 'get' do %>
  <div><label class="screen-reader-text" for="search">Search for:</label> 
  <%= text_field_tag :search, params[:search] %> 
  <%= submit_tag "Search", :name => nil %>
  </div> 
<% end %>
</li>
<li id="recent-posts-2" class="widget-container"> 
  <h3 class="widget-title">My Contacts</h3>   
    <ul>
        <li><%= link_to 'Show contacts', contacts_path %></li>
        <li><%= link_to 'Add contact', new_contact_path %></li>
    </ul>
</li>
<li id="recent-posts-2" class="widget-container"> 
  <h3 class="widget-title">Filter by group</h3>   
    <ul>
      <% Group.order(:name).each do |group| %>
        <li><%= link_to group.name, group_contacts_url(group) %></li>
      <% end %>
    </ul>
</li>
<% end %>


