<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @contact.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :cell_phone %><br />
    <%= f.text_field :cell_phone %>
  </p>
  <% if params[:profile] %>
    <%= f.hidden_field :user_id %>
  <% end %>
  <p class="button"><%= f.submit %></p>
<% end %>


