<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
    <div class="ui-widget">
      <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
        <% for message in @contact.errors.full_messages %>
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span><%= message %><br />
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, [['', nil], ['Male', 'Male'], ['Female', 'Female']]%>
  </div>
  <div class="field">
    <%= f.label :family %> (<%= link_to "new family", new_family_path %>)<br />
    <%= f.select :family_id, Family.order(:name).map {|family| [family.name, family.id]}, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :cell_phone %> (digits only e.g 5301234567) <br />
    <%= f.phone_field :cell_phone, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :home_phone %> (digits only e.g 5301234567) <br />
    <%= f.phone_field :home_phone, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :work_phone %> (digits only e.g 5301234567) <br />
    <%= f.phone_field :work_phone, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1 %>
  </div>
  <div class="field">
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2 %>
  </div>
  <div class="field">
    <%= f.label "City, ST, Zip" %><br />
    <%= f.text_field :city %>, 
    <%= f.text_field :state, :size => 4 %>,
    <%= f.text_field :zip, :size => 11 %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday, :size => 10 %>
  </div>
  <strong>Status</strong>
  <div class="field">
    <%= f.check_box :member %> <%= f.label :member %><br />
    <% for status in Status.order(:name) %>
      <%= check_box_tag "contact[status_ids][]", status.id, @contact.statuses.include?(status) %>
      <%= status.name %><br />
    <% end %>
  </div>

  <strong>Groups</strong>
  <div class="field">
    <% for group in Group.order(:name) %>
      <%= check_box_tag "contact[group_ids][]", group.id, @contact.groups.include?(group) %>
      <%= group.name %><br />
    <% end %>
  </div>
  <div class="field">
    <%= f.label :attend_dccc_since%><br />
    <%= f.text_field :attend_since, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :website%><br />
    <%= f.text_field :website%>
  </div>
  <div class="field">
    <%= f.label :about %> (e.g. interests, testimony, sports etc)<br />
    <%= f.text_area :about, :rows => 4, :cols => 60 %>
  </div>
  <p class="button"><%= f.submit %></p>
<% end %>


