<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
    <div class="ui-widget">
      <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
        <% for message in @contact.errors.full_messages %>
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span><%= message %><br />
        <% end %>
      </div>
    </div>
  <% end %>
  <% unless params[:profile] %> 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, [['', nil], ['Male', 'Male'], ['Female', 'Female']]%>
  </div>
  <div class="field">
    <%= f.label :cell_phone %> (digits only e.g 5301234567) <br />
    <%= f.phone_field :cell_phone, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :work_phone %> (digits only e.g 5301234567) <br />
    <%= f.phone_field :work_phone, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1 %>
  </div>
  <div class="field">
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2 %>
  </div>
  <div class="field">
    <%= f.label "City, ST, Zip" %><br />
    <%= f.text_field :city %>, 
    <%= f.text_field :state, :size => 4 %>,
    <%= f.text_field :zip, :size => 11 %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday, :size => 10 %>
  </div>
  <strong>Status</strong>
  <div class="field">
    <%= f.check_box :newcomer %> <%= f.label :newcomer %><br />
    <%= f.check_box :member %> <%= f.label :member %><br />
    <%= f.check_box :staff %> <%= f.label :staff %><br />
    <%= f.check_box :elder %> <%= f.label :elder %><br />
    <%= f.check_box :deacon %> <%= f.label :deacon %><br /> 
  </div>

  <strong>Groups</strong>
  <div class="field">
    <% for group in Group.all %>
      <%= check_box_tag "contact[group_ids][]", group.id, @contact.groups.include?(group) %>
      <%= group.name %><br />
    <% end %>
  </div>
  <div class="field">
    <%= f.label :website%><br />
    <%= f.text_field :website%>
  </div>
  <div class="field">
    <%= f.label :about %> (e.g. interests, testimony, sports etc)<br />
    <%= f.text_area :about, :rows => 4, :cols => 60 %>
  </div>
  <% if params[:profile] %>
    <%= f.hidden_field :user_id %>
  <% end %>
  <p class="button"><%= f.submit %></p>
<% end %>


