<%= render 'directory_sidebar' %>
<h1>
<% if params[:group_id] %>
<%= @group.name %>
<% else %>
My Contacts
<% end %>
</h1>

<table>
  <tr>
    <th>Name</th><th>Email</th><th>Cell</th><th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.email%></td>
    <td><%= number_to_phone(contact.cell_phone)%></td>
    <td><%= link_to 'Show', contact %>
    <% if can? :update, Contact and contact.user.nil? %>
      | <%= link_to 'Remove', remove_contact_path(contact), :method => :put %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @contacts %>

<br />
<% unless params[:search] and params[:search].blank? %>
<a href="#" id="contact_show_emails">Show email alias</a>
<div id="contact_email_alias" style="display: none">
<a href="#" id="contact_hide_emails">Hide email alias</a><br />
<%= @email_alias %>
</div>
<% end %>
