<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div class="ui-widget">
      <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
      <% @book.errors.full_messages.each do |msg| %>
        <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span><%= msg %><br />
      <% end %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :authors %><br />
    <%= f.text_field :authors %>
  </div>
  <div class="field">
    <%= f.label :pages %><br />
    <%= f.text_field :pages %>
  </div>
  <div class="field">
    <%= f.label :published_year %><br />
    <%= f.text_field :published_year %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 4, :cols => 60 %>
  </div>
  <div class="field">
    <%= f.label :borrowed_by %> (e.g. John Wu &lt;johnwu@gmail.com&gt;)<br />
    <%= f.text_field :borrower_name_email %> on
    <%= f.text_field :borrowed_date, :size => 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
