<% if @google_books.nil? %>
<p>Sorry, no records found in google books search.</p>
<% else %>
<ul>
<% @google_books.each do |book| %>
  <li>
    <%= form_tag books_path do  %>
      <div class="google_book_title"><%= book['volumeInfo']['title'] %></div>
      <%= hidden_field_tag 'google_book_id', book['id'] %>
      <%= submit_tag 'add to my books' %>
    <% end %>
    <table>
      <tbody>
        <tr>
          <td>
          <div class="thumbnail">
            <img src="<%= book['volumeInfo']['imageLinks']['smallThumbnail'] if book['volumeInfo']['imageLinks'] %>"> 
          </div>
          <div class="gl">
            <%= book["volumeInfo"]["authors"].join(", ") + " - " unless book["volumeInfo"]["authors"].blank? %> 
            <%= book["volumeInfo"]["publishedDate"].to_s + " - " unless book["volumeInfo"]["publishedDate"].blank? %> 
            <%= book["volumeInfo"]["pageCount"].to_s + " pages" unless book["volumeInfo"]["pageCount"].blank?  %> 
          </div>
<%= raw book["volumeInfo"]["description"] unless book["volumeInfo"]["description"].blank? %>
            </td>
          </tr>
        </tbody>
    </table>

  </li>
<% end %>
</ul>
<% end %>
