<h1>New Book</h1>
<%= form_tag new_book_path, :method => :get, :remote => true do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search google books", :name => nil) %>
<% end %>
<br />
<div id="books">
  <%= render :partial => 'google_books', :collection => @google_books %>
</div>

<p>Can't find your book from google books, then you can manually add your book below</p>
<div id="form">
  <%= render 'form' %>
</div>
