<%= render 'library_sidebar' %>
<h1><%= @book.title %></h1>
<p>
<% unless @book.thumbnail.blank? %>
<div class="thumbnail">
  <img src="<%= @book.thumbnail %>"> 
</div>
<% end %>
<div class="gl">
  <%= @book.authors + " - " unless @book.authors.blank? %> 
  <%= @book.published_year + " - " unless @book.published_year.blank? %> 
  <%= @book.pages.to_s + " pages" unless @book.pages.blank? %> 
</div>
<%= raw @book.description %>
</p>
<br />
<em>Owner:</em> <%= link_to @book.owner_name, @book.user.contact %> <br />
<% if @book.contact_id.blank? %>
This book is <em>available</em> to borrow. Please contact the owner for more information.
<% else %>
<em>Borrowed By:</em> <%= link_to @book.borrower_name, @book.contact %> on <%= @book.borrowed_date %>
<% end %>
<br />
<% if can? :update, @book %>
<%= link_to 'Eidt book', edit_book_path(@book) %> |
<%= link_to 'Destroy book', @book, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
