<%= render 'bulletin_sidebar' %>
<h1>Bulletin posts</h1>
<% if params[:category_id] %>
<strong><%= @category.name %></strong><br />
<% end %>
  <ul>
    <% @posts.each do |post| %>
      <li><%= post.created_at.strftime("%b %d") %> <%= link_to post.title, post %> by <%= link_to post.user.name, contact_path(post.user.contact) %></li>
    <% end %>
  </ul>
