<%= render 'bulletin_sidebar' %>

<h2 class="entry-title"><%= @post.title %></h2>
<div class="entry-meta">
  <span class="meta-prep meta-prep-author">Posted on</span>
  <span class="entry-date"><%= @post.created_at.strftime("%m/%d/%Y") %></span>
  <span class="meta-sep">by</span>
  <span class="author vcard"><%= link_to @post.user.name, contact_path(@post.user.contact) %></span> 
  <span class="meta-sep">in</span>
  <span class="cat-links"><%= link_to @post.category.name, category_posts_path(@post.category) %></span>
</div>
<div class="entry-content">
  <p><%= @post.content %></p>
</div>

<% if can? :update, @post %>
<%= link_to 'Edit post', edit_post_path(@post) %> |
<%= link_to 'Destroy post', @post, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
