<!DOCTYPE html>
<html>
<head>
  <title>Church Directory and Library</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper" class="hfeed">
  <div id="header">
    <div id="masthead">
      <div id="branding" role="banner">
                <h1 id="site-title">
          <span>
            <a href="" title="Church Directory and Library" rel="home">Church Directory and Library</a>
          </span>

        </h1>
        <div id="site-description">Sharing resources within your church</div>

                </div><!-- #branding -->

      <div id="user_nav">
        <% if current_user %>
          Logged in as <%= current_user.email %> |
          <%= link_to "Log out", log_out_path %>
        <% else %>
          <%= link_to "Sign up", sign_up_path %> |
          <%= link_to "Log in", log_in_path %>
        <% end %>
      </div>
      <div id="access" role="navigation">
                <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>

                <div class="menu"><ul><li class="current_page_item"><a href="" title="Home">Home</a></li><li class="page_item page-item-2"><a href="" title="About">About</a></li></ul></div>
      </div><!-- #access -->
    </div><!-- #masthead -->
  </div><!-- #header -->

  <div id="main">

    <div id="container">
      <div id="content" role="main">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= yield %>
      </div><!-- #content -->
    </div><!-- #container -->

    <div id="primary" class="widget-area" role="complementary">
      <ul class="xoxo">

<li id="search-2" class="widget-container widget_search">
  <form role="search" method="get" id="searchform">
  <div><label class="screen-reader-text" for="s">Search for:</label>
  <input type="text" value="" name="s" id="s" />
  <input type="submit" id="searchsubmit" value="Search" />
  </div>
  </form>
</li>  
<li id="recent-posts-2" class="widget-container widget_recent_entries"> 
  <h3 class="widget-title">Sub Menu</h3>   
    <ul>
        <li><a href="" title="">M1</a></li>
        <li><a href="" title="">M2</a></li>
        <li><a href="" title="">M3</a></li>
    </ul>
</li>
</ul>
    </div><!-- #primary .widget-area -->

  </div><!-- #main -->

  <div id="footer" role="contentinfo">
    <div id="colophon">
      <div id="site-info">
        <a href="" title="" rel="home">Sponsors</a>
      </div><!-- #site-info -->
    </div><!-- #colophon -->
  </div><!-- #footer -->
</div><!-- #wrapper -->

</body>
</html>
